@model CONVUNI_RESTFULL_DOTNET_CLIWEB.Models.ConversionRequest
@{
    ViewData["Title"] = "Conversión - Grupo 5";
}

<img src="https://preview.redd.it/3khigm1i5l061.jpg?auto=webp&s=59b76c49d5ac3783ede597f51acf2b7cdb3621be" alt="Blue Monster" class="sully-image">
<div class="convert-page">
    <div class="conversion-form">
        <h2>Conversor de Unidades de Presión - Grupo 5</h2>
        <h2 id="usernameDisplay">¡Bienvenido, @ViewBag.Username!</h2>

        <button id="logoutBtn" onclick="location.href='@Url.Action("Logout", "Login")'">Logout</button>

        @using (Html.BeginForm("Convertir", "Conv", FormMethod.Post, new { id = "conversionForm" }))
        {
            <div>
                <label for="Valor">Valor:</label>
                @Html.TextBoxFor(m => m.Value, new { type = "number", required = "required" })
            </div>

            <div>
                <label for="FromUnit">Unidad de Origen:</label>
                @Html.DropDownListFor(m => m.FromUnit, new List<SelectListItem>
            {
            new SelectListItem { Text = "Pascal (PA)", Value = "pa" },
            new SelectListItem { Text = "BAR", Value = "bar" },
            new SelectListItem { Text = "Milímetros de Mercurio (mmHg)", Value = "mmHg" },
            new SelectListItem { Text = "Libras por Pulgada Cuadrada (PSI)", Value = "psi" },
            new SelectListItem { Text = "Atmósferas (ATM)", Value = "atm" }
            })
            </div>

            <div>
                <label for="ToUnit">Unidad de Destino:</label>
                @Html.DropDownListFor(m => m.ToUnit, new List<SelectListItem>
            {
            new SelectListItem { Text = "Pascal (PA)", Value = "pa" },
            new SelectListItem { Text = "BAR", Value = "bar" },
            new SelectListItem { Text = "Milímetros de Mercurio (mmHg)", Value = "mmHg" },
            new SelectListItem { Text = "Libras por Pulgada Cuadrada (PSI)", Value = "psi" },
            new SelectListItem { Text = "Atmósferas (ATM)", Value = "atm" }
            })
            </div>

            <button type="submit">Convertir</button>
        }

        @if (!string.IsNullOrEmpty(ViewBag.Result))
        {
            <p id="result">@ViewBag.Result</p>
        }
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <p id="result" style="color: #d32f2f;">@ViewBag.Error</p>
        }
    </div>
</div>

<script>
    const username = '@ViewBag.Username';
    if (username) {
        localStorage.setItem('username', username);
    }

    const storedUsername = localStorage.getItem('username');
    if (storedUsername) {
        document.getElementById('usernameDisplay').textContent = `¡Bienvenido, ${storedUsername}!`;
    }
</script>
